<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecostay">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoStay">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RoomsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RoomBookingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ServicesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ServiceBookingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OffersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BookingManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BookingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ModifyBookingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BookingReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AdminBookingManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AdminServicesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AdminRoomsActivity"
            android:exported="false" />
    </application>

</manifest>